{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 12
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": ["babel-plugin-styled-components"]
}
